%title URL Shorty
%link{:rel=>"stylesheet", :href=>"/stylesheet.css", :media=>"screen", :type=>"text/css"}

%form{ :action => "", :method => "post"}
  %label{:for => "name"} URL:
  %br
  %input{:type => "text", :name => "url", :class => "text"}

  %input{:type => "submit", :value => "Send", :class => "button"}